.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.inputstyle {
    position: relative;
    height: 10vh;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 5px;

}

form {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.inputParentParent {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 80%;
    margin: 20px;
}

.inputParent {
    width: 60vw;
    z-index: 2;


}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    color: white;
}

.submittedInput {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    z-index: 2;

}

input {
    border: solid;
    border-color: #1b1b1b;
    border-width: 0.1px;
    margin-right: 5px;
    height: 10vh;
    width: 100%;
    background-color: #292929;
    color: white;
    background-color: 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    z-index: 2;
}

#leftBtn {
    font-size: larger;
}

#rightBtn {
    font-size: larger;
}


#topSubmitBtn {
    margin: 0 !important;
    margin-left: 5px !important;
    height: 10vh;
    font-size: larger;
}

/* input text start */
.alignTextCenter {
    margin: auto;
}

.inputText {
    display:flex;
    background-color: #1b1b1b;opacity:0.7 ;
    justify-content: center;
    height: 9.7vh;
    width: 60vw;
    border: solid;
    border-color: #fc2f70;
    border-width: 1px;
    align-content: center;
    align-items: center;    
    text-align: center;
    margin-top: 5px;
    z-index: 1;
    position: relative;
    color: white;
}

.inputText:hover {
  cursor: text;
}

.inputText::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #fc2f70;
  transform-origin: center;
  transform: scale(1);
}

.inputText:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  border: 5px solid #fc2f70;
  opacity: 0;
}


/* inputtext end */

.input:focus {
  outline: none;
}

.input::placeholder {
  color: hsla(0, 0%, 100%, 0.6);
}

span {
  position: absolute;
  background-color: #3cefff;
  transform-origin: center;
  transition: transform 0.5s ease;
}

.bottom,
.top {
  height: 1px;
  left: 0;
  right: 0;
  transform: scaleX(0);
}

.left,
.right {
  width: 1px;
  top: 0;
  bottom: 0;
  transform: scaleY(0);
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.input:focus ~ .top, input:focus ~ .bottom {
  transform: scaleX(1);
}

.input:focus ~ .left, input:focus ~ .right {
  transform: scaleY(1);
}


/* input end */
/* button style */
button {
    position: relative;
    height: 10vh;
    width: 10vw;
    background-color: rgb(24, 24, 24);
    color:white;
    z-index: 1;
    border: solid;
    border-color: #fc2f70;
    border-width: 1px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {
    0%,
    100% {
    transform: scale(1, 1);
    }
    25% {
    transform: scale(0.9, 1.1);
    }
    50% {
    transform: scale(1.1, 0.9);
    }
    75% {
    transform: scale(0.95, 1.05);
    }
}
/* button end */